[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/world-id-lens"]
	path = lib/world-id-lens
	url = https://github.com/worldcoin/world-id-lens
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
